# ThirdParty SDK output
/msvc2022-x64-md/Debug/occt/data/*.*
/msvc2022-x64-md/Debug/occt/win64/vc14/bind/*.pdb
/msvc2022-x64-md/Debug/occt/data/occ/*.brep
/msvc2022-x64-md/Debug/occt/data/images/*.jpg
/msvc2022-x64-md/Debug/occt/data/images/*.gif
/msvc2022-x64-md/Debug/occt/data/stl/*.stl
/msvc2022-x64-md/Debug/occt/data/occ/*.rle
/msvc2022-x64-md/Debug/occt/data/images/*.png
/msvc2022-x64-md/Debug/occt/data/iges/*.iges
*.bmp
*.step
